################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/LinkShortenerDocker/v16
/LinkShortenerDocker/bin/Debug/net5.0
/LinkShortenerDocker/obj
/LinkShortenerDocker/Properties
*.db
